.App {
  text-align: center;
}
.title {
  text-align: center;
  margin: 30px 0;
}
.componentWrap > h1 {
  text-align: center;
}
h2 {
  background: #33373f;
  color: #fff;
}
button,
span {
  font-size: 15px;
}

/* s : divider */
.componentWrap {
  border: 1px solid #000;
  padding: 10px 0;
}
.componentWrap + .componentWrap {
  margin-top: 30px;
}
/* e : // divider */

/* s : etc */
.cart {
  cursor: pointer;
  font-size: 16px;
}
/* e : // etc */
