.App {
  text-align: center;
}
h2 {
  background: #33373f;
  color: #fff;
}
button,
span {
  font-size: 15px;
}

/* s : divider */
.componentWrap {
  border: 1px solid #000;
  padding: 10px 0;
}
.componentWrap + .componentWrap {
  margin-top: 30px;
}
/* e : // divider */